#include "Resources.h"

// ---------------------------------------------------------------------

IDI_ICON        ICON        "Resources\\bag.ico"
IDC_CURSOR      CURSOR      "Resources\\Cursor.cur"

// ---------------------------------------------------------------------


